.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav-header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
}